<section id="header-area" class="home-body inner-headers" style="margin-bottom: 0px;">
    <div class="overlay-black"></div>
    <div class="inner-header-back" style="background: url(./assets/web/images/submit-price.jpg);">
        <div class="contenet-image">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-7">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="body-content" class="body-content inner-body-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-area">
                    <div class="form-row">
                        <div class="search-price">
                            <h3 class="hero__title2 text-center">Reset Password</h3>
                        </div>
                    </div>
                    <form [formGroup]="resetForm" (ngSubmit)="submitForm()">

                        <div class="form-row">

                            <div class="form-group col-md-12">
                                <label for="inputState">* New Password </label>
                                <input formControlName="new" type="password" class="form-control" placeholder="New Password">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputState">* Confirm New Password </label>
                                <input formControlName="confirm" type="password" class="form-control" placeholder="Confrim New Password">

                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="resetForm.invalid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<ngx-spinner></ngx-spinner>