.buttons-copy {
    background-color: #fff;
    border: 1px solid #0D5B31;
    padding: 7px 14px;
    font-size: 13px;
    font-weight: 600;
    color: #0D5B31;
    margin-right: 4px;
    text-transform: uppercase;
}

.export {
    position: absolute;
    margin-left: 150px;
    z-index: 10;
    width: 60%;
}

.dt-button:hover {
    background-color: #0D5B31;
    color: #fff;
}