<section id="body-content" class="body-content search-result text-center " style="min-height: 500px;">
    <div *ngIf="products">
        <div style="margin-top: 40px;" *ngIf="products.length == 0" class="text-center">
            <h3>We didn't find any matches for "{{term}}" in our product catalog ...</h3>
            <p>Please check your spelling, try entering the make and model</p>
            <p>If you cannot find your item, you can always <a [routerLink]="['/requestprice']">Request Us to Add It!</a></p>
        </div>
    </div>
    <div class="text-center" *ngIf="products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content-area" *ngIf="products">
                        <h3 class="search-result-txt">{{products.length}} matches for <span class="green">"{{term}}"</span></h3>
                        <ul>
                            <li *ngFor="let product of products">
                                <a [routerLink]="['/productdetails',product.category, product.slug]">
                                    <div class="popular-area">
                                        <div class="category-name">{{product.category}}</div>
                                        <div class="img-area"><img style="height:120px;width:120px; object-fit: contain;" src="{{api.imageUrl + product.image}}" /></div>
                                        <div class="category-brand">{{product.brand}}</div>
                                        <div class="name">{{product.name}}</div>
                                        <div class="price">{{product.market_value | currency}}</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>